@import '../../../styles/partials/variables.scss';

.branches {
    background-color: white;
    position: fixed;
    bottom: 0;
    transition: all .25s;
    border-top: 1px solid black;

    &--active-trees-branches-leaves-controls {
        width: $branchWidth;
        height: $branchHeight;
        left: $treeWidth;
    }
    &--active-branches-leaves-controls {
        width: calc($treeWidth + $branchWidth);
        height: $branchHeight;
        left: 0;
    }
    &--active-trees-branches-leaves {
        width: $branchWidth;
        height: calc($branchHeight + $controlHeight);
        left: $treeWidth;
    }
    &--active-trees-leaves-controls {
        width: 0;
        height: 0;
        left: $treeWidth;
        z-index: 5;
    }
    &--active-leaves-controls {
        width: 0;
        height: 0;
        left: 0;
        z-index: 5;
    }
    &--active-branches-leaves {
        width: calc($treeWidth + $branchWidth);
        height: calc($branchHeight + $controlHeight);
        left: 0;
    }
    &--active-trees-branches-controls {
        height: $branchHeight;
        width: calc($branchWidth + $leaveWidth);
        left: $treeWidth;
    }
    &--active-leaves {
        width: 0;
        height: 0;
        left: 0;
        z-index: 5;
    }
    

    &__title {
        text-align: center;

        &--closed {
            position: relative;
            top: -4.5rem;
            z-index: 100;
            width: 20rem;
            text-align: left
        }
    }

    &__icon {
        margin: 1rem 0 0 0;
        height: 4rem;
    }


    // &--active {
    //     width: 100vw;
    //     height: 100vh;
    //     left: 0;
    // }
    // &--inactive {
    //     width: 0;
    //     height: 0;
    //     left: 0;
    // }
    // &--active-trees {
    //     width: $branchWidth;
    //     height: 100vh;
    //     left: $treeWidth;        
    // }
    // &--inactive-trees {
    //     width: 0;
    //     height: 0;
    //     left: $treeWidth;   
    // }
    // &--active-controls{
    //     width: 100vw;
    //     height: $branchHeight;
    //     left: 0;
    // }
    // &--inactive-controls {
    //     width: 0;
    //     height: 0;
    //     left: 0;
    // }
    // &--active-trees-controls {
    //     width: calc($branchWidth + $leaveWidth);
    //     height: $branchHeight;
    //     left: $treeWidth; 
    // }

    // &--inactive-trees-controls {
    //     width: 0;
    //     height: 0;
    //     left: $treeWidth; 
    //     // top: $controlHeight;
    // }

    &__title-container {
        text-align: center;

        &--active {
            position: relative;
            top: 2rem;
        }
        &--inactive {
            position: relative;
            top: -2rem;
        }
        &--inactive-trees {
            position: relative;
            top: -2rem;
        }
        &--inactive-controls {
            position: relative;
            top: -2rem;
        }
        &--inactive-trees-controls {
            position: relative;
            top: -2rem;
        }
    }

}