@import '../../../styles/partials/variables.scss';

.branches {
    background-color: white;
    position: fixed;
    bottom: 0;
    transition: all .25s;
    border-top: 1px solid black;

    &--active-trees-branches-leaves-controls {
        width: $branchWidth;
        height: $branchHeight;
        left: $treeWidth;
    }
    &--active-branches-leaves-controls {
        width: calc($treeWidth + $branchWidth);
        height: $branchHeight;
        left: 0;
    }
    &--active-trees-branches-leaves {
        width: $branchWidth;
        height: calc($branchHeight + $controlHeight);
        left: $treeWidth;
    }
    &--active-trees-leaves-controls {
        width: 0;
        height: 0;
        left: $treeWidth;
        z-index: 5;
    }
    &--active-leaves-controls {
        width: 0;
        height: 0;
        left: 0;
        z-index: 5;
    }
    &--active-branches-leaves {
        width: calc($treeWidth + $branchWidth);
        height: calc($branchHeight + $controlHeight);
        left: 0;
    }
    &--active-trees-branches-controls {
        height: $branchHeight;
        width: calc($branchWidth + $leaveWidth);
        left: $treeWidth;
    }
    &--active-leaves {
        width: 0;
        height: 0;
        left: 0;
        z-index: 5;
    }
    

    &__title {
        text-align: center;

        &--closed {
            position: relative;
            top: -4.5rem;
            z-index: 100;
            width: 20rem;
            text-align: left
        }
    }

    &__icon {
        margin: 1rem 0 0 0;
        height: 4rem;
    }

    &__branch {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;

        &:hover {
            background-color: aqua;

        }

        &--level-1 {
            background-color: green;
            padding: .5rem;
            height: 2rem;
            font-weight: 600;
        }
        &--active {
            border: 2px solid blue;
        }
    }
    // &__title-container {
    //     text-align: center;

    //     &--active {
    //         position: relative;
    //         top: 2rem;
    //     }
    //     &--inactive {
    //         position: relative;
    //         top: -2rem;
    //     }
    //     &--inactive-trees {
    //         position: relative;
    //         top: -2rem;
    //     }
    //     &--inactive-controls {
    //         position: relative;
    //         top: -2rem;
    //     }
    //     &--inactive-trees-controls {
    //         position: relative;
    //         top: -2rem;
    //     }
    // }

    &__content {

        &--closed {
            display: none;
        }
    }
}