@import '../../../styles/partials/variables.scss';
@import '../../../styles/partials/colors.scss';

.branches {
    background-color: $default-background;
    position: fixed;
    bottom: 0;
    transition: all .25s;
    border-top: 1px solid black;

    &--active-trees-branches-leaves-controls {
        width: $branchWidth;
        height: $branchHeight;
        left: $treeWidth;
    }
    &--active-branches-leaves-controls {
        width: calc($treeWidth + $branchWidth);
        height: $branchHeight;
        left: 0;
    }
    &--active-trees-branches-leaves {
        width: $branchWidth;
        height: calc($branchHeight + $controlHeight);
        left: $treeWidth;
    }
    &--active-trees-leaves-controls {
        width: 0;
        height: 0;
        left: $treeWidth;
        z-index: 5;
    }
    &--active-leaves-controls {
        width: 0;
        height: 0;
        left: 0;
        z-index: 5;
    }
    &--active-branches-leaves {
        width: calc($treeWidth + $branchWidth);
        height: calc($branchHeight + $controlHeight);
        left: 0;
    }
    &--active-trees-branches-controls {
        height: $branchHeight;
        width: calc($branchWidth + $leaveWidth);
        left: $treeWidth;
    }
    &--active-leaves {
        width: 0;
        height: 0;
        left: 0;
        z-index: 5;
    }
    
    &__link {
        position: absolute;
        top: .5rem;
        right: .5rem;
        height: 1.25rem;
        cursor: pointer;
      }
    &__title {
        text-align: center;

        &--closed {
            position: relative;
            top: -4.5rem;
            z-index: 100;
            width: 20rem;
            text-align: left
        }
    }

    &__icon {
        margin: 1rem 0 0 0;
        height: 4rem;
    }

    &__branch {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;

        &:hover {
            background-color: $default-background;

        }
        &:focus {
            border: 2px solid black;
        }

        &--active {
            border: 2px solid black;
        }

        &--level-1 {
            background-color: $default-level-1;
            padding: .5rem;
            height: 2rem;
            font-weight: 600;
        }
        &--level-2 {
            background-color: $default-level-2;
            padding: .5rem .5rem .5rem 2rem;
            height: 2rem;
            font-weight: 600;
        }
        &--level-3 {
            background-color: $default-level-3;
            padding: .5rem .5rem .5rem 4rem;
            height: 2rem;
            font-weight: 600;
        }
        &--level-4 {
            background-color: $default-level-4;
            padding: .5rem .5rem .5rem 6rem;
            height: 2rem;
            font-weight: 600;
        }
        &--level-5 {
            background-color: $default-level-5;
            padding: .5rem .5rem .5rem 8rem;
            height: 2rem;
            font-weight: 600;
        }
        &--active {
            border: 2px solid blue;
        }
    }
    // &__title-container {
    //     text-align: center;

    //     &--active {
    //         position: relative;
    //         top: 2rem;
    //     }
    //     &--inactive {
    //         position: relative;
    //         top: -2rem;
    //     }
    //     &--inactive-trees {
    //         position: relative;
    //         top: -2rem;
    //     }
    //     &--inactive-controls {
    //         position: relative;
    //         top: -2rem;
    //     }
    //     &--inactive-trees-controls {
    //         position: relative;
    //         top: -2rem;
    //     }
    // }

    &__content {
        margin: .5rem 0 0 0;

        &--closed {
            display: none;
        }
    }
    &__branch-list {
        word-wrap: break-word;
    }
}