@import '../../styles/partials/variables.scss';

.trees {
    position: fixed;
    top: 0;
    height: 100vh;
    width: $treeWidth;
    background-color: green;
    transition: all .25s;
    z-index: 1;

    &--active {
      left: 0;
    }
    &--inactive {
      left: -15vw;
    }

    &__title-container {
        position: fixed;
        top: .25rem;
        left: 0;
        font-size: 2rem;
        transition: all .25s;
        width: $treeWidth;
        
        &--active {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--inactive{
        }
    }
    &__container {
        
    }
}