$default-background: #EFF0BA;

$default-level-1: #7E9867;
$default-level-2: #96B671;
$default-level-3: #AFC580;
$default-level-4: #B7D296;
$default-level-5: #BDDCA3;

$default-background: #E7EAE8;
$default-level-1: #2B7A8D;
$default-level-2: #55A4B2;
$default-level-3: #BFD8DA;
$default-level-4: #D7E4E1;
$default-level-5: #F0EBE7;


$default-level-1: #6898BD;
$default-level-2: #82BFDA;
$default-level-3: #CDE4EA;
$default-level-4: #DEEDEC;
$default-level-5: #EBEBEC;
$default-background: $default-level-5;

$default-background: #FCF6F5FF;
$default-level-2: #C1C8E4;
$default-level-3: #EDEAE5;
$default-level-4: #B3C7D6FF;

$placeholder-color: #b6c3d9;
$placeholder-color: rgba(0, 0, 0, .7);