@import '../../../styles/partials/variables.scss';

.tree-card {
    width: calc($treeWidth * .90);
    margin: 1rem auto 1rem auto;
    border: 1px solid black;
    border-radius: 4px;
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
    background-color: #d4ffe6;
    cursor: pointer;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &__icon {
        display: block;
        margin: .25rem auto 0 auto;
        height: 3rem;
        width: 3rem;
    }
    &__tree-name {
        padding: .25rem .25rem .1rem .25rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
    &__user-name {
        padding: 0 .25rem .1rem .25rem;
        font-size: .75rem;
        font-style: italic;
        text-align: center;
    }
}